.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Styling inspiration from w3schools navbar documentation */
/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

.navbar {
  list-style-type: none;
  background-color: #ad5222;
  margin: 0;
  padding: 10px;
}

li {
  display: inline-block;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover{
  background-color: black;
}

.form {
  float: center;
  display: block;
  text-align: center;
  align-items: center;
}